html {
	height:100%; 
	background:-webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(#5d5d5d), to(#0e0e0e)) no-repeat #a2d2ed;
}

body{
	margin: 0;
	padding: 0;
}

<<<<<<< HEAD
#main{
	width: 960px;
	margin: 0 auto;
}

=======
>>>>>>> s
img{
	display: inline;
}
/* Logo Treatment Placeholder for now.*/

#logo{

	position: absolute;
	top:8%;
	left: 10%;
}
/* Bottom Navigation */

.navMain {
	text-transform: uppercase;
	font-family: Helvetica, sans-serif;
	position: absolute;
	bottom: 40px;
	border-bottom: 2px solid #595959;
	width: 100%;
}

.navMain a {
	color: #fff;
	text-decoration: none;

}

.navMain ul li {
	list-style-type: none;
	display: inline;
	padding-right: 20px;

}

.navMain a:hover {
	color: #f6f90c;
}

<<<<<<< HEAD
/* Video Content */

video{
	position: absolute;
	left:25%;
	top: 25%;
	border: 7px solid #ccc;
	
}
=======


/* CONTACT PAGE */
	/* submit */

#submit input {
 height: 100px;
 border: solid 1px #d8e3e8;
 background: #fff;
 padding: 0;
 box-sizing: border-box;
}

#submit input [type=text] {
  width:155px;   
  float: left;
}

#submit input [type=submit] {
  font-family: "Helvetica";
  padding: 0;
  font-size: 75%;
  width: 59px;
  color:#90989b;
  float: right;
  text-transform: uppercase;
}

#textArea h1{
	font-family: "Helvetica";
	text-transform: uppercase;
	color: #f6f90c;	
	width: 300px;
}

#textArea p{
	font-family: "Helvetica";
	text-transform: italic;
	color: #fff;	
	width: 300px;
}
>>>>>>> s
