html {
	height:100%; 
	/*background:-webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(#5d5d5d), to(#0e0e0e)) no-repeat #a2d2ed;
	background: -webkit-radial-gradient(circle, #5d5d5d, #0e0e0e);
	background: -moz-radial-gradient(circle, #5d5d5d, #0e0e0e);
	background: -ms-radial-gradient(circle, #5d5d5d, #0e0e0e);
	background: -webkit-radial-gradient(90% 90%, farthest-corner, #5d5d5d, #0e0e0e); */
	background: -webkit-radial-gradient(55% 55%, farthest-corner, #5d5d5d, #0e0e0e); /* Safari 5.1+, Chrome 10+ */
	background: -moz-radial-gradient(60% 57%, farthest-corner, #5d5d5d, #0e0e0e); /* Firefox 3.6+ */ 
	background: -ms-radial-gradient(60% 57%, farthest-corner, #5d5d5d, #0e0e0e); /* IE 10 */

}

body{
	margin: 0;
	padding: 0;
}

<<<<<<< HEAD
<<<<<<< HEAD
#main{
	width: 960px;
	margin: 0 auto;
}

=======
>>>>>>> s
img{
	display: inline;
=======
/*  clearfix  ========================== */

#logo:after, 
header:after, 
.navMain:after {
    content:" ";
    display:table;
    clear:both;
    height:0; 
}
 
/* logo =============================*/

header {
	width: 940px;
	margin: 0 auto;
	margin-top: 50px;
}

#logo {
	width: 65px;
	height: 72px;
	float: left;
	background: url(../images/c-logo-small.png);
	background-repeat: no-repeat;
	display: block;
	text-decoration: none;
>>>>>>> 10/21 update
}

#logo h1 {
	color: #b7b7b7;
	font-family: "Century Gothic", sans-serif;
	font-size: 55%;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: .2em;
	position: relative;
	top: 35px;
	left: 85px;
	width: 200px;
}

#logo h2 {
	color: #b7b7b7;
	font-family: "Century Gothic", sans-serif;
	font-size: 55%;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: .2em;
	position: relative;
	top: 30px;
	left: 85px;
	width: 200px
}
/* Navigation ========================= */

.navMain {
	text-transform: uppercase;
	font-family: "Times New Roman", Times, sans-serif;
	font-style: italic;
	font-size: 75%;
	float: right;
	border-bottom: 1px solid #ffffff;
	margin-top: 37px;
}

.navMain ul{
	float:right;
	margin-bottom: 5px;
}

.navMain ul li {
	display: inline;
	padding-left: 40px;
	position: relative;
}

.navMain a {
	color: #fff;
	text-decoration: none;
}

.navMain a:hover:before {
 content: url(../images/nav-hover-img.png);   
 position: absolute;
 left: 20px;
 top: -1px;
}

/* home logo  ==================== */
#homeLogo {
	position: relative;
	top: 159px;
	margin: 0 auto;
	width: 810px;
	opacity: 0.2;
}

@-webkit-keyframes transit /* Safari and Chrome */
{
	from{opacity: 0;}
	to {from{opacity: 1;}
}
}

@-moz-keyframes transit /* Firefox */
{
	from{opacity: 0;}
	to {from{opacity: 1;}
}
}

<<<<<<< HEAD
<<<<<<< HEAD
/* Video Content */

video{
	position: absolute;
	left:25%;
	top: 25%;
	border: 7px solid #ccc;
	
}
=======
=======
@-o-keyframes transit /* Opera */
{
	from{opacity: 0;}
	to {from{opacity: 1;}
}
}
>>>>>>> 10/21 update

#logo-fade{
	animation: transit 3s;
	-webkit-animation: transit 3s;
	-moz-
}

/* services ========================= */
.contain {
	margin: 0 auto;
	width: 940px;
}

#services-top h1 {
	color: #fff;
	text-transform: uppercase;
	font-family: "Times New Roman", Times, sans-serif;
	font-style: italic;
	font-size: 170%; 
	font-weight: lighter;
	letter-spacing: .05em;
	margin-bottom: 0;
	padding-right: 40px;
	text-align: justify;

}

#services-top p {
	color: #fff;
	font-family: "Times New Roman", Times, sans-serif;
	font-style: italic;
	font-size: 93%; 
	font-weight: lighter;
	line-height: 170%;
	width: 840px;
	float: right;
	margin-right: 50px;
}



.column h2{
	color: #fff;
	font-family: "Times New Roman", Times, sans-serif;
	font-style: italic;
	font-size: 95%; 
	font-weight: lighter;
	letter-spacing: .05em;


}

.column li {
	list-style-type: none;
	font-family: "Century Gothic", sans-serif;
	color: #fff;
	font-size: 70%;
	font-weight: lighter;
	line-height: 15px;
}

.column ul {
	float: left;
	width: 100px;
	margin-left: 10px;

}

/* contact us ========================= */

#contact-top h1 {
	color: #fff;
	text-transform: uppercase;
	font-family: "Times New Roman", Times, sans-serif;
	font-style: italic;
	font-size: 170%; 
	font-weight: lighter;
	letter-spacing: .05em;
	margin-top: 40px;

}

#contact-top p {
	color: #fff;
	font-family: "Century Gothic", sans-serif;
	font-size: 70%; 
	font-weight: lighter;
	line-height: 140%;
	width: 350px;
	text-align: justify;
}

#phone {
	margin: 0px;
	padding: 0px;
}

#locations h4 {
	text-transform: uppercase;
	color: #ffde00;
	font-family: "Century Gothic", sans-serif;
	font-size: 70%; 
	font-weight: lighter;
	margin-bottom: 5px;

}

#locations p{
	margin: 0;
	padding: 0;
	font-style: italic;


}
<<<<<<< HEAD
>>>>>>> s
=======

>>>>>>> 10/21 update
